<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
  .fieldError {
    border-color: #bd2130;
  } </style>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div class="jumbotron"> <h1>회원</h1>
    <p class="lead">회원 가입</p> <p>
      <a class="btn btn-lg btn-secondary" href="/join/new">회원 가입</a>
    </p>
  </div>

  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>